body {
  background-color: #F8F6EB;
  color: #1C1C1C;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.item-info {
  font-size: 1.2em;
  margin: 10px;
}

.signage {
  padding: 6px;
  border: 1px #a8a8a8 solid;
  margin: 10px;
  background-color: #fcfcfc;
}

.item-title {
  font-weight: 500;
}

.artist-name {
  font-style: italic;
}

.fancy-frame {
  padding: 22px;
  overflow-x: hidden; /* For Opera */
  -webkit-box-shadow:
    inset #958A45 0px 0px 2px 3px, 
    inset #CCBE5E 0px 0px 0px 1px, 
    inset #F9DE48 0px 0px 0px 10px, 
    inset #FFF753 0px 0px 2px 11px, 
    inset #F8D84F 0px 0px 0px 16px, 
    inset #CBB626 0px 0px 0px 18px, 
    inset #F5E6A7 0px 0px 0px 21px, 
    inset #4C4407 0px 0px 0px 23px;
  -moz-box-shadow:
    inset #958A45 0px 0px 2px 3px, 
    inset #CCBE5E 0px 0px 0px 1px, 
    inset #F9DE48 0px 0px 0px 10px, 
    inset #FFF753 0px 0px 2px 11px, 
    inset #F8D84F 0px 0px 0px 16px, 
    inset #CBB626 0px 0px 0px 18px, 
    inset #F5E6A7 0px 0px 0px 21px, 
    inset #4C4407 0px 0px 0px 23px;
  box-shadow:
    inset #958A45 0px 0px 2px 3px, 
    inset #CCBE5E 0px 0px 0px 1px, 
    inset #F9DE48 0px 0px 0px 10px, 
    inset #FFF753 0px 0px 2px 11px, 
    inset #F8D84F 0px 0px 0px 16px, 
    inset #CBB626 0px 0px 0px 18px, 
    inset #F5E6A7 0px 0px 0px 21px, 
    inset #4C4407 0px 0px 0px 23px;
}
